#!/usr/bin/env bash
# vim: set ft=bash :
set -euo pipefail

if [[ "{{ .chezmoi.os }}" != "darwin" ]]; then
  exit 0
fi

if ! command -v brew >/dev/null 2>&1; then
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

echo >> $HOME/.zprofile
echo 'eval "$(/opt/homebrew/bin/brew shellenv zsh)"' >> $HOME/.zprofile
eval "$(/opt/homebrew/bin/brew shellenv zsh)"

echo "⌛Installing Brewfile packages..."

brew bundle --file="$HOME/.Brewfile"

echo "✅ Brewfile packages installed."

